@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F3F4F6;
  -webkit-font-smoothing: antialiased;
}

/* Scroll bonito no celular */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 8px;
}